/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
/* ---------------------------******------------------------ */

header {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100px;
    color: white;
    font-size: 2rem;
    z-index: 2;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
}
nav {
    height: 100%;
}
a:visited {
    background: #000;
}
/* this container is fixed background with video play on home page */

#video-container {
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.parallax-container {
    width: 100vw;
    position: relative;
    z-index: 1;
    padding-top: 100vh;
}

#scroll-background {
    background-color: rgba(0, 0, 0, 0.7);
}

footer {
    background-color: black;
    position: relative;
    padding: 75px;
    z-index: 3;
}

.child-container {
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    margin: 40px auto;
    border-radius: 20px;
    align-items: center;
}

.text {
    flex: 2;
    line-height: 40px;
    padding: 20px;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px black;
    border: 2px solid black;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.images {
    margin: 10px;
    /* box-shadow: 1px 1px 1px black; */
    height: 80%;
    box-shadow: 1px 1px 1px white;
    border-radius: 20px;
}

i {
    font-size: 3rem;
}

.trailer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.myVideos h1 {
    text-align: center;
    font-size: 3rem;
}

.myVideos iframe {
    width: 50vw;
    height: 50vh;
}

header .active {
    background: white;
    color: black !important;
    padding: 10px;
}

header a:hover {
    background: white;
    color: black !important;
    padding: 10px;
}
header a:visited {
    color: white;
    text-decoration: none;
}

.about-page-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 150px;
}

.row {
    display: flex;
}

.about-page-container h1 {
    background-color: black;
    margin: 15px;
    color: white;
    text-align: center;
    font-size: 28px;
}

.about-page-container img {
    margin: 20px;
    width: 300px;
    height: 200px;
}

.about-page-container {
    animation: move-div linear 2s;
}

@keyframes move-div {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 0;
    }
}
